i:hover {
  cursor: pointer;
}

.fa-times-circle {
  color: pink;
  float: right;
}
.fa-times-circle:hover {color: red;}

.fa-edit {
  color: lightblue;
  float: left;
}
.fa-edit:hover {color: blue;}

input[type='text']::placeholder {
  color: lightgray;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px 5px;
  margin-bottom: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.loading-spinner {
  height: 50px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
